
table {
	border-collapse: collapse;
	margin:5vh;

}

caption {
	font-size: 16pt;
	margin:10vh
	
}

th, td {
	border: 1px solid Gray;
	padding: 5px;
	
}

td.broj {
	text-align: right;
}

th {
	color: white;
	background-color:   #352f44;
}

tr:nth-child(even) {
	background-color:  #5c5470;
}

input[type="search"] {
	width: 100%;
	
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:   #352f44;
  width: 100%;
  height: 40px;
  
}
nav .navigation {
  display: flex;
}
nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  
}

nav .navigation ul li {
  list-style: none;
  margin-left: 80px;
}
nav .navigation ul li a {
  text-decoration: none;
  color: beige;
  font-size: 18px;
  font-weight: 500;
}
nav .navigation ul li a:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
nav .navigation ul li a:hover {
  color: #947d90;
}
.content {
 
 
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.content1 {
 
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.registrationForm {
 
  height: 40vh;
  display: flex;
  justify-content: left;
  align-items: center;

}
.btn {
 padding: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

}


a {
  color: black;
}

a.btn {
  background-color:   #352f44;
  padding: 1em 1.5em;
 margin: 20vh 0 0 150vh;
  
 
}

a.btn:hover {
  background-color:  #5c5470;
  cursor: pointer;
}
.alert{
	color : red;
	 height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
	
}
