<!DOCTYPE html> 
	<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}">
		<title>Appointments</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StylesTable.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StylesMenu.css"/>   
	 </head>     
	 <body> 
	 <h2>OnlineFitness</h2>
	  <nav>
	  <div class="navigation">  
	 	<ul>     
	 			<li ><a href="trainers" >Trainers</a></li>
	 		<li ><a href="clients" >Clients</a></li>
	 		<li ><a th:if="${session.user.role.toString() == 'ADMIN'}" href="admins" >Admin</a></li>
	 		<li ><a href="appointments">Appointments</a></li>
	 	    <li ><a th:if="${session.user.role.toString() == 'ADMIN'}" href="reports" >Reports</a></li>
	 		
	 	</ul>     
	 	</div >
	</nav>
	
	 <section class="registrationForm">
	<div class = "registrationForm">
	<table th:unless="${session.user == null}"> 
	 	  								
		  <tr>
        <th>You're logged in as </th>
        <td>
            <a th:if="${session.user.role.toString() == 'TRAINER'}" th:href="@{'/trainers/details?id=' + ${session.user.id}}">
                View profile as trainer (<span th:text="${session.user.email}"></span>)
            </a>
            <a th:if="${session.user.role.toString() == 'CLIENT'}" th:href="@{'/clients/details?id=' + ${session.user.id}}">
                View profile as client (<span th:text="${session.user.email}"></span>)
            </a>
            <a th:if="${session.user.role.toString() == 'ADMIN'}" th:href="@{'/admins/details?id=' + ${session.user.id}}">
                View profile as admin (<span th:text="${session.user.email}"></span>)
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li><a href="logout">Logout</a></li>
            </ul>
        </td>
    </tr>
	</table>
	<table th:if="${session.user == null}">
		<tr><th>You're not logged in</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registration">Registration</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</td>
		</tr>
	</table>
	</div>
	</section>
	
	  <section class="content">
	<div class = "content" >
	 		<table>     
	 			<caption>Appointments</caption>     
	 			<tr>      
	 			   <th></th>     
	 				<th></th>  
	 				<th>Trainer</th>          
	 				<th>Client</th>   
	 				<th>Reserved</th>   
	 				<th>Date and time</th>   
	 				<th>Price</th>   
	 				
	 				<th></th>   
	 			
	 			</tr>
	 			<tr th:if="${session.user != null && 
            (session.user.role.toString() == 'CLIENT' ? 
              itappointment.free == false : 
              (session.user.role.toString() == 'TRAINER' ? 
                itappointment.trainer.id == session.user.id &&
                itappointment.free == false : true))}"



	 			 th:each="itappointment, status: ${appointments}">
	 			
	 			<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a   th:if="${session.user.role.toString() != 'TRAINER'}"
	 				th:href="|appointments/details?id=${itappointment.id}|" th:text="${itappointment.price}"></a></td>    
	 				<td th:text="|${itappointment.trainer.name}  ${itappointment.trainer.surname}|"></td>    
	 		
	 			  <td th:text="${itappointment.client != null ? itappointment.client.name + ' ' + itappointment.client.surname : ''}"></td>
	 			  
	 			 <td th:text="${itappointment.free}"></td>   
	 				<td th:text="${itappointment.dateAndTime}"></td>    
	 				<td th:text="${itappointment.price}"></td>    
	 				
	 
	 				<td>    
	 					<form  th:if="${session.user.role.toString() != 'CLIENT'}"
	 					method="post" action="appointments/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itappointment.id}">     
	 						<input type="submit"  value="Delete" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 		</div>
	 		</section>
	 		 <div  class = 'btn'>  
	 		<a  th:if="${session.user.role.toString() != 'CLIENT'}" href="appointments/add" class = "btn">Add appointment</a>     
	 	</div>
	 	   
	 	     <section class="content" th:if="${session.user.role.toString() != 'ADMIN'}">
	<div class = "content" >
	 		<table>     
	 			<caption>Scheduled Appointments</caption>     
	 			<tr>      
	 			   <th></th>     
	 				<th></th>  
	 				<th>Trainer</th>          
	 				<th>Client</th>   
	 				<th>Reserved</th>   
	 				<th>Date and time</th>   
	 				<th>Price</th>   
	 				<th></th>
	 			
	 			</tr>
	 		<tr th:each="itappointment, status: ${appointments}"
	    th:if="${session.user != null && session.user.role.toString() == 'CLIENT' ?
	         itappointment.client != null && itappointment.client.id == session.user.id  : 
	        (session.user != null && session.user.role.toString() == 'TRAINER' ?
	        itappointment.trainer.id == session.user.id 
	         &&  itappointment.free == true : true)}">

	 			
	 			<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a   th:if="${session.user.role.toString() != 'TRAINER'}"
	 				th:href="|appointments/details?id=${itappointment.id}|" th:text="${itappointment.price}"></a></td>    
	 				<td th:text="|${itappointment.trainer.name}  ${itappointment.trainer.surname}|"></td>    
	 				<td th:text="|${itappointment.client.name}  ${itappointment.client.surname}|"></td>    
	 			 	<td th:text="${itappointment.free}"></td>   
	 				<td th:text="${itappointment.dateAndTime}"></td>    
	 				<td th:text="${itappointment.price}"></td>    
	 				
	 				<td>    
	 					<form  th:if="${session.user.role.toString() == 'CLIENT'}"
	 					method="post" action="appointments/cancel" >     
	 						<input type="hidden"  name="id"  th:value="${itappointment.id}">     
	 						<input type="submit"  value="Cancel appointment" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 		</div>
	 		</section>
	 		
	 	   
	 </body>   
 </html>	