<!DOCTYPE html> 
	<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}">
		<title>Trainers</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StylesTable.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StylesMenu.css"/>   
	 </head>     
	 <body> 
	 <h2>OnlineFitness</h2>
	  <nav>
	  <div class="navigation">  
	 	<ul>     
	 			<li ><a href="trainers" >Trainers</a></li>
	 		<li ><a href="clients" >Clients</a></li>
	 		<li ><a th:if="${session.user.role.toString() == 'ADMIN'}" href="admins" >Admin</a></li>
	 		<li ><a href="appointments">Appointments</a></li>
	     <li ><a th:if="${session.user.role.toString() == 'ADMIN'}" href="reports" >Reports</a></li>
	 		
	 	</ul>     
	 	</div >
	</nav>
	
	 <section class="registrationForm">
	<div class = "registrationForm">
	<table th:unless="${session.user == null}"> 
	 	  								
		  <tr>
        <th>You're logged in as </th>
        <td>
            <a th:if="${session.user.role.toString() == 'TRAINER'}" th:href="@{'/trainers/details?id=' + ${session.user.id}}">
                View profile as trainer (<span th:text="${session.user.email}"></span>)
            </a>
            <a th:if="${session.user.role.toString() == 'CLIENT'}" th:href="@{'/clients/details?id=' + ${session.user.id}}">
                View profile as client (<span th:text="${session.user.email}"></span>)
            </a>
            <a th:if="${session.user.role.toString() == 'ADMIN'}" th:href="@{'/admins/details?id=' + ${session.user.id}}">
                View profile as admin (<span th:text="${session.user.email}"></span>)
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li><a href="logout">Logout</a></li>
            </ul>
        </td>
    </tr>
	</table>
	<table th:if="${session.user == null}">
		<tr><th>You're not logged in</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registration">Registration</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</td>
		</tr>
	</table>
	</div>
	</section>
	  <section class="content">
	<div class = "content" >
	 		<table>     
	 			<caption>Trainers</caption>     
	 			<tr>      
	 			   <th></th>     
	 				<th></th>  
	 				<th>Name</th>          
	 				<th>Surname</th>   
	 				<th>Email</th>   
	 				<th>Phone Number</th>   
	 				<th>Address</th>   
	 				<th>Card number</th>   
	 				<th>Native language</th>  
	 			  	<th>Additional languages</th> 
	 				<th>Role</th> 
	 				<th>Certificate</th> 
	 				<th>Diploma</th> 
	 				<th>Title</th> 
	 				<th>isActive</th> 
	 				<th>Salary</th> 
	 				<th th:if="${session.user.role.toString() == 'ADMIN'}">Delete account</th>
	 				<th th:if="${session.user.role.toString() == 'ADMIN'}"> Activate account</th>   
	 			
	 			</tr>
	 			<tr th:each="itTrainer, status: ${trainers}"
	 			 th:if="${session.user != null && 
            (session.user.role.toString() != 'TRAINER' || 
              (session.user.role.toString() == 'TRAINER' && itTrainer.id == session.user.id))}">
	 			<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a  th:if="${session.user.role.toString() != 'CLIENT'}"
	 				th:href="|trainers/details?id=${itTrainer.id}|" th:text="${itTrainer.name}"></a></td>    
	 	  
	 				<td th:text="${itTrainer.name}"></td>    
	 				<td th:text="${itTrainer.surname}"></td>    
	 				<td th:text="${itTrainer.email}"></td>    
	 				<td th:text="${itTrainer.phoneNumber}"></td>    
	 				<td th:text="${itTrainer.address}"></td>    
	 				<td th:text="${itTrainer.cardNumber}"></td>    
	 				<td th:text="${itTrainer.nativeLanguage}"></td>    
  <td>  <span th:each="language : ${itTrainer.additionalLanguages}" th:text="${language.name()} + ' '"></span> </td>
	 				<td th:text="${itTrainer.role}"></td>    
	 				<td th:text="${itTrainer.certificate}"></td>    
	 				<td th:text="${itTrainer.diploma}"></td>    
	 				<td th:text="${itTrainer.title}"></td>    
	 				<td th:text="${itTrainer.isActive}"></td>    
	 				<td th:text="${itTrainer.salary}"></td>    
	 				
	 				<td th:if="${session.user.role.toString() == 'ADMIN'}">    
	 		
	 			             <form th:if="${session.user.role.toString() == 'ADMIN'}" 
	 			              method="post" action="trainers/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itTrainer.id}">     
	 						<input type="submit"  value="Delete" >    
	 					</form>    
	 				</td>   
	 				<td th:if="${session.user.role.toString() == 'ADMIN'}">
	 				<form th:if="${session.user.role.toString() == 'ADMIN'}" method="post" action="trainers/activate">
  <input type="hidden" name="id" th:value="${itTrainer.id}" />
  <button th:if="${itTrainer.isActive == false}" type="submit" th:text="Activate"></button>
</form>
</td>
	 				
	 			</tr>
	 		</table>
	 		</div>
	 		</section>
	 		 <div class = 'btn'>  
	 		<a  th:if="${session.user.role.toString() == 'ADMIN'}"
	 		href="trainers/add" class = "btn">Add trainer</a>     
	 	</div>
	 	   
	 </body>   
 </html>	